:root {
    --bg-color_secaoResultado: #1e2128;
}

.secaoResultado {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px 0;
}

.cardResultado {
    width: 100%;
    max-width: 700px;
    min-height: 200px;

    background-color: var(--bg-color_secaoResultado);

    border: 1px solid #2d323c;
    border-radius: 12px;

    padding: 24px;

    color: white;
}