:root {
  /* Backgrounds */
  --bg-color-secaoResultado: transparent;
  --bg-color-secaoResultado_Titulo: transparent;
  --bg-color-secaoResultado_Texto: transparent;

  /* Textos */
  --font-size-title: 30px;
  --font-size-text: 18px;

  --color-title: #000000;
  --color-text: #000000;
}

/* Área principal */
.secaoResultado {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  overflow-y: auto;

  padding: 24px;

  background-color: var(--bg-color-secaoResultado);

  scrollbar-width: thin;
}

/* Header */
.headerResultado {
  display: flex;
  flex-direction: column;

  gap: 10px;

  margin-bottom: 24px;

  flex-shrink: 0;
}

/* Título */
.secaoResultado_Titulo {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  background-color: var(--bg-color-secaoResultado_Titulo);

  font-size: var(--font-size-title);
  font-weight: 700;

  color: var(--color-title);

  margin: 0;
}

/* Texto */
.secaoResultado_Texto {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  background-color: var(--bg-color-secaoResultado_Texto);

  font-size: var(--font-size-text);
  font-weight: 400;

  color: var(--color-text);

  margin: 0;
}

/* Área dos cards */
.cardResultadoArea {
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 20px;

  padding-bottom: 30px;
}

/* Scroll personalizado */
.secaoResultado::-webkit-scrollbar {
  width: 8px;
}

.secaoResultado::-webkit-scrollbar-track {
  background: transparent;
}

.secaoResultado::-webkit-scrollbar-thumb {
  background: #3a4254;

  border-radius: 20px;
}

.loadingTexto{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  font-size: 80px;
  font-weight: 400;
  color: var(--color-text);
  margin: 0;
  animation: girar 1s linear infinite;
}
.paginacao{
    display:flex;
    justify-content:center;
    align-items:center;

    gap:8px;

    margin-top:25px;
    margin-bottom:20px;
}

.botaoPagina{
    min-width:42px;
    height:42px;

    border:none;
    border-radius:8px;

    background:#2a2f3a;

    color:white;

    cursor:pointer;

    font-size:16px;
    font-weight:700;

    transition:.2s;
}

.botaoPagina:hover{
    background:#3a4254;
    transform:translateY(-2px);
}

.numeroPagina{
    min-width:50px;

    text-align:center;

    font-size:18px;
    font-weight:bold;

    color:white;
}

@keyframes girar {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

}

/* Responsividade */
@media (max-width: 900px) {
  .secaoResultado {
    padding: 16px;
  }

  .secaoResultado_Titulo {
    font-size: 24px;
  }

  .secaoResultado_Texto {
    font-size: 16px;
  }
}